input {
    width: 210px;
    height: 100px;
    font-size: 75px;
    border-radius: 30px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    border-style: none;
}

#myform {
      margin-left: 20%;
    background-color: #919490;
    width: 1175px;
   /* border: medium solid purple;*/
}

h1{
    
    text-align: center;
    font-size: 80px;
    margin-right: 150px;
    margin-top: 25px;
    background-color: rgb(214, 158, 16);
    width:100%;
    
}

#disp{
width: 1150px;
height: 100px;
text-align: center;
background-color: #4867AA;
}